<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!--Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body>
        <header><!--Contenido del Header-->

            <!-- Navigation -->
            <nav th:replace="/fragments/navbar :: nav"></nav>

            <div class="container-lg mt-5"><!--Contenedor-->
                <div class="row m-0 d-flex w-100 justify-content-center mb-5">
                    <div class="col-12 px-2 text-center">
                        <h2 class="display-8 font-weight-bolder"> Crear Libro</h2>
                    </div>
                </div>
                <div class="row d.flex w-100 justify-content-around">

                    
                    <div class="col-md-8">
                        <form th:action="@{/libro/crearlibro}" th:object="${libro}" class="form-row" method="POST">
                            <!--   <input hidden th:field="*{id}">  -->
                            <div class="col-2">
                                <label for="">Isbn</label>
                            </div>
                            <div class="col-10 mb-3">
                                <input name="isbn" class="form-control w-100" type="number" placeholder="Ingrese el isbn">
                            </div>
                            <div class="col-2">
                                <label for="">Titulo</label>
                            </div>
                            <div class="col-10 mb-3">
                                <input name="titulo" class="form-control w-100" type="text" placeholder="Titulo del libro">
                            </div>
                            <div class="col-2">
                                <label for="">Anio</label>
                            </div>
                            <div class="col-10 mb-3">
                                <input name="anio" class="form-control w-100" type="number" placeholder="Anio del libro" required min="1400">
                            </div>
                            <div class="col-2">
                                <label for="">Ejemplares</label>
                            </div>
                            <div class="col-10 mb-3">
                                <input name="ejemplares" class="form-control w-100" type="number" placeholder="Ejemplares">
                            </div>
                            <div class="col-2">
                                <label for="">Ejemplares Prestados</label>
                            </div>
                            <div class="col-10 mb-3">
                                <input name="ePrestados" class="form-control w-100" type="number" placeholder="Ejemplares Prestados">
                            </div>

                            <!-- Restantes 
                             <div class="col-2">
                                 <label for="">Ejemplares Restantes</label>
                             </div>
                             <div class="col-10 mb-3">
                                 <input name="eRestantes" class="form-control w-100" type="text" placeholder="Ejemplares Restantes">
                             </div>-->


                            <div class="col-2">
                                <label for="">Autor</label>
                            </div>
                            <div class="col-7 mb-3">
                                <select class="form-control" th:field="*{autor}">
                                    <option value="0" selected>Seleccione un Autor</option>
                                    <option th:each="a : ${listaautor}" th:utext="${a.nombre}" th:value="${a.id}"></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <a href="/autor/crearautor" class="btn btn-outline-success btn-block w-100">Crear Autor</a>
                            </div>

                            <div class="col-2">
                                <label for="">Editorial</label>
                            </div>
                            <div class="col-7 mb-3">

                                <select class="form-control" th:field="*{editorial}">
                                    <option value="0" selected>Seleccione una Editorial</option>
                                    <option th:each="e : ${listaeditorial}" th:utext="${e.nombre}" th:value="${e.id}" ></option>
                                </select>                         
                            </div>  
                            <div class="col-3">
                                <a href="/editorial/creareditorial" class="btn btn-outline-success btn-block w-100">Crear Editorial</a>
                            </div>



                            <div class="col-12 mt-3 mb-3">
                                <button class="btn btn-success btn-block w-100" type="submit">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>

                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                            </p>
                        </div>
                    </div>
                </section>

                <!-- Footer -->
                <footer th:replace="/fragments/footer :: footer"></footer>

            </div><!--Fin Contenedor-->



            <!-- Bootstrap core JavaScript -->
            <script th:replace="/fragments/boostjs :: script"></script>
    </body>
</html>
