<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!--Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body>
        <!--<header><!--Contenido del Header-->

        <!-- Navigation -->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div class="container mt-5"><!--Contenedor-->
            <div class="row m-0 d-flex w-100 justify-content-center mb-5">
                <div class="col-12 px-2 text-center">
                    <h2 class="display-8 font-weight-bolder"> Editar Autor</h2>
                </div>
            </div>
            <div class="row d.flex w-100 justify-content-around">
                <div class="container m-auto">
                    <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
                    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                </div>
            </div>
            <div class="col-md-6">
                <form th:action="@{/autor/editarautor/__${autor.id}__}" class="form-row" method="Post">
                    <input hidden th:value= "${id}" name="id">               
                    <div class="col-2">
                        <label for="">Nombre</label>
                    </div>
                    <div class="col-10 mb-3">
                        <input th:value="${autor.nombre}" type="text" name="nombre" class="form-control w-100"  placeholder="Ingrese el nombre del Autor">
                    </div>

                    <div class="col-12 mt-3 mb-3">
                        <button class="btn btn-dark btn-block w-100" type="submit">Actualizar</button>
                    </div>
                </form>
            </div>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div><!--Fin Contenedor-->

        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script th:replace="/fragments/boostjs :: script"></script>
    </body>
</html>
