<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <!--Head -->
    <head th:replace="/fragments/head :: head"></head>
    <body>

        <!-- Navigation -->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>


        <div class="container ">
            <h1> Listado de Autores</h1>
            <table class="table table-hover table-bordered">                    
                <thead class="thead-dark text-center">
                    <tr class="table-light">					
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">¿Esta activo?</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Alta/Baja</th>                                       
                    </tr>
                </thead>
                <tbody th:each="autor : ${autores}">
                    <tr>
                        <!-- <th scope="row" th:text="${libro.id}"></th>-->
                        <td scope="row" th:text="${autor.id}"></td>
                        <td th:text="${autor.nombre}"></td> 
                        <td><!--Icono ACTIVO -->
                            <i th:if="${autor.alta}" class="fas fa-check-circle color-green"></i> <!--Si el libro esta activo por circulo verde -->
                            <i th:unless="${autor.alta}" class="fas fa-times-circle color-red"></i> <!--si es de otra manera pon circulo rojo -->
                        </td>
                        <td><!--Icono EDITAR -->
                            <a th:href="@{/autor/editarautor/__${autor.id}__}"><i class="far fa-edit"></i></a> 
                        </td>   
                        <td><!-- ALTA/BAJA -->
                            <a th:if="${autor.alta}" th:href="@{/autor/baja/__${autor.id}__}"><i class="fas fa-trash-alt"></i></a> 
                            <a th:unless="${autor.alta}" th:href="@{/autor/alta/__${autor.id}__}"><i class="fas fa-arrow-alt-circle-up"></i></a>  
                        </td>
                    </tr>

                </tbody>
            </table>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>

        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script th:replace="/fragments/boostjs :: script"></script>
    </body>
</html>
